.NumberInput {
  outline: 0;
  border: 0;
  padding: 3px;
  margin: 0;

  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
