.Attributes {
  display: grid;
  width: 250px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

@media (min-width: 520px) {
  .Attributes {
    width: 510px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-around;
  }
}
