.Attribute {
    display: flex;
    flex-direction: column;

    width: 110px;
    height: 130px;
    text-align: center;

    border: 1px solid black;

    padding: 0px 5px 5px 5px;

    position: relative;

    margin-bottom: 16px;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: black;
    color: white
}
.Label {
    display: flex;
    grid-area: label;
    justify-content: center;
    text-transform: uppercase;
    padding: 10px 0;
}

.Input {
    text-align: center;
    grid-area: input;
    flex-grow: 2;
}

.Input input,
.Input input:focus {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    line-height: var(--big-row);
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    font-size: 45px;
    font-weight: bold;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Output {
    --height: 40px;
    --width: calc(var(--height)*1.5);
    --borderRadius: var(--height) / calc(var(--height) / 1.5);

    position: absolute;
    bottom: calc(var(--height) * -0.4);
    left: calc(var(--width) / 2);

    font-size: 25px;

    width: var(--width);
    height: var(--height);
    border-radius: var(--borderRadius);
    line-height: var(--height);
    border: 1px solid black;
    background-color: black;
    font-weight: bold;
    
}
